*~
\#*
*.elc
*.cache
session.*
.DS_Store
abbrev_defs
bookmarks
tramp
/emacs-proxy.el
/custom.el
/init.d/archive
/recentf
/undohist
/projectile-bookmarks.eld
/ac-comphist.dat
/auto-install
/elpa
/eshell
/url
/var
/auto-save-list
/server
/image-dired/

