*~
\#*
*.elc
*.cache
session.*
.DS_Store
.lsp-session*
.mc-lists.el
abbrev_defs
bookmarks
tramp
kkcrc
/emacs-proxy.el
/custom.el
/init.d/archive
/transient
/recentf
/undohist
/projectile-bookmarks.eld
/ac-comphist.dat
/auto-install
/elpa
/el-get
/eshell
/url
/var
/auto-save-list
/server
/image-dired/

